<context-menu #contextmenu>
  <div class="dropdown open">
    <ul class="dropdown-menu">
      <li [ngClass]="{'disabled': !contextmenu.get('item.canEdit')}">
        <a (click)="editItem(contextmenu.get('item'))" >
          <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>Edit</a>
      </li>
      <li [ngClass]="{'disabled': !contextmenu.get('item.canDelete')}">
        <a (click)="deleteItem(contextmenu.get('item'))">
          <i class="fa fa-trash-o m-r-5" aria-hidden="true"></i>Delete</a>
      </li>
    </ul>
  </div>
</context-menu>

<li *ngIf="isExpandable()" class="all-item">
  <a (click)="clickItem(node)" class="folder-item" [ngClass]="{focus: node._focus}">
    <div style="white-space: nowrap">
      <span class="point" (click)="expandFolder()">
        <i class="fa fa-fw fa-caret-right" *ngIf="!isExpanded()"></i>
        <i class="fa fa-fw fa-caret-down" *ngIf="isExpanded()"></i>
      </span>

      <i class="fa fa-folder-o" *ngIf="!isExpanded()"></i>
      <i class="fa fa-folder-open-o" *ngIf="isExpanded()"></i>
      {{ node.name }}
    </div>
  </a>

  <ul *ngIf="isExpanded()" class="children-items">
    <fix-node-item *ngFor="let n of node.children" [node]="n" 
    (clicked)="propagateClick($event)"
    (edited)="propagateEdit($event)"
    (deleted)="propagateDelete($event)"></fix-node-item>
  </ul>
</li>

<li *ngIf="!isExpandable()" class="all-item">
  <a (click)="clickItem(node)" class="file-item" [ngClass]="{focus: node._focus}" [contextmenu]="[contextmenu, {item: node}]">
    <div style="white-space: nowrap">
      <i class="fa fa-file-o"></i> {{ node.name }}
    </div>
  </a>
</li>