.all-item {
    list-style-type: none;
    display: inline;
}

.folder-item {}

.file-item {
    padding-left: 0px;
}

.children-items {
    padding-left: 25px;
}

.focus {
    color: steelblue
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #337ab7;
}