<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <fix-widget>
            <fix-widget-header icon="fa-info-circle" title="Package infos">
            </fix-widget-header>
            <fix-widget-body classes="no-padding">
                <table class="table hierarchical">
                    <tbody>
                        <!-- Global  -->
                        <tr class="section-title">
                            <td colspan="2">
                                <i class="fa fa-cog m-r-5" aria-hidden="true"></i>
                                Global
                                <div class="dropdown pull-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#generalCofigModal">
                                                <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                                                Edit</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-trash-o m-r-5" aria-hidden="true"></i>
                                                Clear</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Name</td>
                            <td>package1</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Id</td>
                            <td>addea5f2-b51e-11e7-abc4-cec278b6b50a</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>OS</td>
                            <td>Linux Centos</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Folder</td>
                            <td>/tmp/backend/addea5f2-b51e-11e7-abc4-cec278b6b50a/</td>
                        </tr>

                        <!-- CoreEngine  -->
                        <tr class="section-title">
                            <td colspan="2">
                                <i class="fa fa-copyright m-r-5" aria-hidden="true"></i>
                                Core Engine
                                <div class="dropdown pull-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#coreEngineCofigModal">
                                                <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                                                Edit</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-trash-o m-r-5" aria-hidden="true"></i>
                                                Clear</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Version</td>
                            <td>5.7.0.0</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Push</td>
                            <td>640</td>
                        </tr>


                        <!-- Database  -->
                        <tr class="section-title">
                            <td colspan="2">
                                <i class="fa fa-database m-r-5" aria-hidden="true"></i>
                                Database
                                <div class="dropdown pull-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#databaseCofigModal">
                                                <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                                                Edit</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-trash-o m-r-5" aria-hidden="true"></i>
                                                Clear</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Type</td>
                            <td>ORACLE</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Username</td>
                            <td>toto</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Password</td>
                            <td>SDFZTg6864</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Hostname</td>
                            <td>127.0.0.1</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Port</td>
                            <td>1521</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Service</td>
                            <td>ORCL</td>
                        </tr>

                        <!-- Filter Engine  -->
                        <tr class="section-title">
                            <td colspan="2">
                                <i class="fa fa-filter m-r-5" aria-hidden="true"></i>
                                Filter Engine
                                <div class="dropdown pull-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#filterEngineCofigModal">
                                                <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                                                Edit</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-trash-o m-r-5" aria-hidden="true"></i>
                                                Clear</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Version</td>
                            <td>5.7.0.0</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Push</td>
                            <td>640</td>
                        </tr>
                        <!-- Database  -->
                        <tr class="section-title">
                            <td colspan="2">
                                <i class="fa fa-cubes m-r-5" aria-hidden="true"></i>
                                Modules
                                <div class="dropdown pull-right">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                        <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#databaseCofigModal">
                                                <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                                                Edit</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-trash-o m-r-5" aria-hidden="true"></i>
                                                Clear</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Version</td>
                            <td>5.7.0.0</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Push</td>
                            <td>640</td>
                        </tr>
                        <tr class="hiera-1">
                            <td>Aquisition</td> 
                            <td>
                                <file-tree [tree]="dir" (onChange)="updateData($event)" [keyboardWatch]=true>
                                </file-tree>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </fix-widget-body>
        </fix-widget>
    </div>
</div>

<!-- Modal -->
<div id="generalCofigModal" class="modal fade" role="dialog">
    <fix-general-edit></fix-general-edit>
</div>
<!-- Modal -->
<div id="coreEngineCofigModal" class="modal fade" role="dialog">
    <fix-core-engine-edit></fix-core-engine-edit>
</div>
<!-- Modal -->
<div id="filterEngineCofigModal" class="modal fade" role="dialog">
    <fix-filter-engine-edit></fix-filter-engine-edit>
</div>
<!-- Modal -->
<div id="databaseCofigModal" class="modal fade" role="dialog">
    <fix-database-edit></fix-database-edit>
</div>