<div class="row">
    <div class="col-sm-3 m-t-15">
        <file-tree [tree]="dir" (onChange)="updateData($event)" (onEdit)="editData($event)" (onDelete)="deleteData($event)" [keyboardWatch]=true>
        </file-tree>
    </div>
    <div class="col-sm-9 nomargin">
        <div class="package-edit-container">
            <table class="table hierarchical m-b-0">
                <tbody>
                    <!-- Global  -->
                    <tr class="section-title">
                        <td colspan="2">
                            <i class="fa fa-cog m-r-5" aria-hidden="true"></i>
                            Global
                            <div class="dropdown pull-right">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-toggle="modal" data-target="#generalCofigModal">
                                            <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                                            Edit</a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-times m-r-5" aria-hidden="true"></i>
                                            Clear</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Name</td>
                        <td>{{packageConfig.name}}</td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Container</td>
                        <td>
                            <i class="fa m-r-5" [ngClass]="getContainerIcon()" aria-hidden="true"></i> {{packageConfig.plateform.name}}</td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Options</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6 nopadding">
                                    <i class="fa fa-check-square-o m-r-5" aria-hidden="true"></i>Common_env</div>
                                <div class="col-sm-6 nopadding">
                                    <i class="fa fa-square-o m-r-5" aria-hidden="true"></i>option 2</div>
                            </div>
                        </td>
                    </tr>
                    <!-- <tr class="hiera-1">
                        <td>Folder</td>
                        <td>/tmp/backend/addea5f2-b51e-11e7-abc4-cec278b6b50a/</td>
                    </tr> -->

                    <!-- CoreEngine  -->
                    <tr class="section-title">
                        <td colspan="2">
                            <i class="fa fa-copyright m-r-5" aria-hidden="true"></i>
                            Core Engine
                            <div class="dropdown pull-right">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-toggle="modal" data-target="#coreEngineCofigModal">
                                            <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                                            Edit</a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-times m-r-5" aria-hidden="true"></i>
                                            Clear</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Version</td>
                        <td>5.7.0.0</td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Push</td>
                        <td>640</td>
                    </tr>


                    <!-- Database  -->
                    <tr class="section-title">
                        <td colspan="2">
                            <i class="fa fa-database m-r-5" aria-hidden="true"></i>
                            Database
                            <div class="dropdown pull-right">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-toggle="modal" data-target="#databaseCofigModal">
                                            <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                                            Edit</a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-times m-r-5" aria-hidden="true"></i>
                                            Clear</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Type</td>
                        <td>ORACLE</td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Username</td>
                        <td>toto</td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Password</td>
                        <td>SDFZTg6864</td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Hostname</td>
                        <td>127.0.0.1</td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Port</td>
                        <td>1521</td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Service</td>
                        <td>ORCL</td>
                    </tr>

                    <!-- Filter Engine  -->
                    <tr class="section-title">
                        <td colspan="2">
                            <i class="fa fa-filter m-r-5" aria-hidden="true"></i>
                            Filter Engine
                            <div class="dropdown pull-right">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-toggle="modal" data-target="#filterEngineCofigModal">
                                            <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                                            Edit</a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-times m-r-5" aria-hidden="true"></i>
                                            Clear</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Version</td>
                        <td>5.7.0.0</td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Push</td>
                        <td>640</td>
                    </tr>
                    <!-- Database  -->
                    <tr class="section-title">
                        <td colspan="2">
                            <i class="fa fa-cubes m-r-5" aria-hidden="true"></i>
                            Modules
                            <div class="dropdown pull-right">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-toggle="modal" data-target="#modulesCofigModal">
                                            <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                                            Edit</a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-times m-r-5" aria-hidden="true"></i>
                                            Clear</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Version</td>
                        <td>5.7.0.0</td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Push</td>
                        <td>320</td>
                    </tr>
                    <tr class="hiera-1">
                        <td>Active Modules</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-6 nopadding">
                                    <i class="fa fa-cube m-r-5" aria-hidden="true"></i>Aquisition</div>
                                <div class="col-sm-6 nopadding">
                                    <i class="fa fa-cube m-r-5" aria-hidden="true"></i>DBClient</div>
                                <div class="col-sm-6 nopadding">
                                    <i class="fa fa-cube m-r-5" aria-hidden="true"></i>Requester</div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>


<!-- Modal -->
<div id="generalCofigModal" class="modal fade" role="dialog">
    <fix-general-edit></fix-general-edit>
</div>
<!-- Modal -->
<div id="coreEngineCofigModal" class="modal fade" role="dialog">
    <fix-core-engine-edit></fix-core-engine-edit>
</div>
<!-- Modal -->
<div id="filterEngineCofigModal" class="modal fade" role="dialog">
    <fix-filter-engine-edit></fix-filter-engine-edit>
</div>
<!-- Modal -->
<div id="databaseCofigModal" class="modal fade" role="dialog">
    <fix-database-edit></fix-database-edit>
</div>
<!-- Modal -->
<div id="modulesCofigModal" class="modal fade" role="dialog">
    <fix-backend-edit></fix-backend-edit>
</div>