<div class="form-horizontal">
    <div class="col-sm-12 form-section-title">
        Package configuration
    </div>

    <div class="form-group">
        <label for="container_name" class="col-sm-2 control-label text-left">Name</label>
        <div class="col-sm-3 has-error">
            <input class="form-control" id="container_name" placeholder="e.g. myPackage" type="text">
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
    </div>
    <hr>

    <div class="form-group">
        <label for="container_name" class="col-sm-2 control-label text-left">Platform</label>
        <div class="col-sm-3 has-error">
            <select class="form-control selectpicker input-sm">
                <option label="DockerHub" value="object:266" selected="selected"> (none)</option>
                <option data-icon="fa fa-linux" label="DockerHub" value="object:266"> Linux-Docker01</option>
            </select>
            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
    </div>
    <hr>

    <div class="form-group">
        <label for="container_name" class="col-sm-2 control-label text-left">Common Env</label>
        <div class="col-sm-10 space-top">

            <div class="fix-switch nomargin space-bottom">
                <input id="commonEnvActive" name="commonEnvActiveOption1" type="checkbox" (click)="setCommonEnv()" [checked]="commonEnvConfig.enable"
                />
                <label for="commonEnvActive" class="label-primary"></label>
            </div>
            <div class="row">
                <fix-add-file-form [config]="commonEnvConfig.fileConfig" [active]="commonEnvConfig.enable"></fix-add-file-form>
            </div>
        </div>
    </div>
    <hr>

    <div class="form-group">
        <label for="container_name" class="col-sm-2 control-label text-left">Licence</label>
        <div class="col-sm-10 space-top">

            <div class="row">
                <fix-add-file-form [config]="licenceConfig"></fix-add-file-form>
            </div>
        </div>
    </div>
</div>