<div class="row">
  <div class="col-sm-3 m-t-15">
    <file-tree [tree]="dir" (change)="updateData($event)" (edit)="editData($event)" (delete)="deleteData($event)" [keyboardWatch]=true>
    </file-tree>
  </div>
  <div class="col-sm-9 nomargin">
    <div class="package-edit-container">
      <table class="table hierarchical m-b-0">
        <tbody>
          <!-- Global  -->
          <tr class="section-title">
            <td colspan="2">
              <i class="fa fa-cog m-r-5" aria-hidden="true"></i>
              Global
              <div class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a data-toggle="modal" data-target="#generalCofigModal" class="pointer-cursor">
                      <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                      Edit</a>
                  </li>
                  <li>
                    <a class="pointer-cursor" data-toggle="modal" data-target="#confirm-clear-general">
                      <i class="fa fa-times m-r-5" aria-hidden="true"></i>
                      Clear</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr class="hiera-1">
            <td>Name</td>
            <td>{{ (packageConfig | async)?.name }}</td>
          </tr>
          <tr class="hiera-1">
            <td>Container</td>
            <td>
              <i class="fa m-r-5" [ngClass]="getContainerIcon()" aria-hidden="true"></i> {{ (packageConfig | async)?.plateform.name }}</td>
          </tr>
          <tr class="hiera-1">
            <td>Folder</td>
            <td>{{ (packageConfig | async)?.basePath }}</td>
          </tr>
          <tr class="hiera-1">
            <td>Options</td>
            <td>
              <div class="row">
                <div class="col-sm-6 nopadding">
                  <i class="fa fa-check-square-o m-r-5" aria-hidden="true"></i>Common_env</div>
                <div class="col-sm-6 nopadding">
                  <i class="fa fa-square-o m-r-5" aria-hidden="true"></i>option 2</div>
              </div>
            </td>
          </tr>

          <!-- CoreEngine  -->
          <tr class="section-title">
            <td colspan="2">
              <i class="fa fa-copyright m-r-5" aria-hidden="true"></i>
              Core Engine
              <div class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a data-toggle="modal" data-target="#coreEngineCofigModal" class="pointer-cursor">
                      <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                      Edit</a>
                  </li>
                  <li>
                    <a class="pointer-cursor" data-toggle="modal" data-target="#confirm-clear-coreengine">
                      <i class="fa fa-times m-r-5" aria-hidden="true"></i>
                      Clear</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr class="hiera-1">
            <td>Version</td>
            <td>{{ (packageConfig | async)?.coreEngineConfig.version }}</td>
          </tr>
          <tr class="hiera-1">
            <td>File URL</td>
            <td>{{ (packageConfig | async)?.coreEngineConfig.archiveUrl }}</td>
          </tr>


          <!-- Database  -->
          <tr class="section-title">
            <td colspan="2">
              <i class="fa fa-database m-r-5" aria-hidden="true"></i>
              Database
              <div class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a data-toggle="modal" data-target="#databaseCofigModal" class="pointer-cursor">
                      <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                      Edit</a>
                  </li>
                  <li>
                    <a class="pointer-cursor" data-toggle="modal" data-target="#confirm-clear-database">
                      <i class="fa fa-times m-r-5" aria-hidden="true"></i>
                      Clear</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>

          <tr class="hiera-1">
            <td>Type</td>
            <td>{{ (packageConfig | async)?.databaseConfig.type }}</td>
          </tr>
          <tr class="hiera-1">
            <td>Username</td>
            <td>{{ (packageConfig | async)?.databaseConfig.username }}</td>
          </tr>
          <tr class="hiera-1">
            <td>Password</td>
            <td>{{ (packageConfig | async)?.databaseConfig.password }}</td>
          </tr>
          <tr class="hiera-1">
            <td>Hostname</td>
            <td>{{ (packageConfig | async)?.databaseConfig.hostname }}</td>
          </tr>
          <tr class="hiera-1">
            <td>Port</td>
            <td>{{ (packageConfig | async)?.databaseConfig.port }}</td>
          </tr>
          <tr class="hiera-1">
            <td>Service</td>
            <td>{{ (packageConfig | async)?.databaseConfig.service }}</td>
          </tr>

          <!-- Filter Engine  -->
          <tr class="section-title">
            <td colspan="2">
              <i class="fa fa-filter m-r-5" aria-hidden="true"></i>
              Filter Engine
              <div class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a data-toggle="modal" data-target="#filterEngineCofigModal" class="pointer-cursor">
                      <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                      Edit</a>
                  </li>
                  <li>
                    <a class="pointer-cursor" data-toggle="modal" data-target="#confirm-clear-filterengine">
                      <i class="fa fa-times m-r-5" aria-hidden="true"></i>
                      Clear</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr class="hiera-1">
            <td>Version</td>
            <td>{{ (packageConfig | async)?.filterEngineConfig.version }}</td>
          </tr>
          <tr class="hiera-1">
            <td>File URL</td>
            <td>{{ (packageConfig | async)?.filterEngineConfig.archiveUrl }}</td>
          </tr>
          <!-- Modules  -->
          <tr class="section-title">
            <td colspan="2">
              <i class="fa fa-cubes m-r-5" aria-hidden="true"></i>
              Modules
              <div class="dropdown pull-right">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-ellipsis-v m-r-5" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a data-toggle="modal" data-target="#modulesCofigModal" class="pointer-cursor">
                      <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                      Edit</a>
                  </li>
                  <li>
                    <a class="pointer-cursor" data-toggle="modal" data-target="#confirm-clear-modules">
                      <i class="fa fa-times m-r-5" aria-hidden="true"></i>
                      Clear</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr class="hiera-1">
            <td>Active Modules</td>
            <td>
              <div class="row">
                <div *ngFor="let module of (packageConfig | async)?.modulesConfig" class="col-sm-12 nopadding">
                  <div class="row">
                    <div class="col-sm-12 nopadding" style="margin-bottom: 0px;">
                      <i class="fa fa-cube m-r-5" aria-hidden="true"></i>{{ module.name }}
                    </div>
                    <div class="col-sm-12 nopadding" style="font-size: 11px !important;">
                      &#x0251C;
                      <u style="font-size: 11px !important;">Version:</u> {{ module.version }}
                      <br/> &#x02514;
                      <u style="font-size: 11px !important;">File URL:</u>
                      <a href="{{ module.archiveUrl }}" style="font-size: 11px !important;color: black;">{{ module.archiveUrl }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>

        </tbody>
      </table>

      <confirm-form [message]="'Are you sure to clear Global configuration?'" [id]="'confirm-clear-general'" [type]="'DANGER'"></confirm-form>
      <!-- Modal General -->
      <div id="generalCofigModal" class="modal fade" tabindex="-1" role="dialog">
        <fix-general-edit></fix-general-edit>
      </div>

      <confirm-form [message]="'Are you sure to clear CoreEngine configuration?'" [id]="'confirm-clear-coreengine'" [type]="'DANGER'"></confirm-form>
      <!-- Modal CoreEngine -->
      <div id="coreEngineCofigModal" class="modal fade" tabindex="-1" role="dialog">
        <fix-core-engine-edit></fix-core-engine-edit>
      </div>

      <confirm-form [message]="'Are you sure to clear FilterEngine configuration?'" [id]="'confirm-clear-filterengine'" [type]="'DANGER'"></confirm-form>
      <!-- Modal Filter -->
      <div id="filterEngineCofigModal" class="modal fade" tabindex="-1" role="dialog">
        <fix-filter-engine-edit></fix-filter-engine-edit>
      </div>

      <confirm-form [message]="'Are you sure to clear Database configuration?'" [id]="'confirm-clear-database'" [type]="'DANGER'"></confirm-form>
      <!-- Modal Database -->
      <div id="databaseCofigModal" class="modal fade" tabindex="-1" role="dialog">
        <fix-database-edit></fix-database-edit>
      </div>

      <confirm-form [message]="'Are you sure to clear All Modules configuration?'" [id]="'confirm-clear-modules'" [type]="'DANGER'"></confirm-form>
      <!-- Modal Modules -->
      <div id="modulesCofigModal" class="modal fade" tabindex="-1" role="dialog">
        <fix-backend-edit></fix-backend-edit>
      </div>
    </div>
  </div>

</div>
