.template-config {
    legend {
        font-size: 14px;
        margin-top: 50px;
    }
    label {
        font-size: 12px;
    }
}

.template-container {
    height: calc(100vh - 14vw);
    overflow-y: auto;
}