<div class="row header">
    <div class="col-xs-12">
        <div class="meta">
            <div class="page">
                <div class="row">
                    <div class="col-xs-6 nopadding nomargin">
                        Dashboard
                    </div>
                    <div class="col-xs-6 nopadding nomargin">
                        <span class="pull-right user-box">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i> admin
                        </span>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-links">
                <div class="row">
                    <div class="col-xs-6 nopadding nomargin">
                        Home / Dashboard
                    </div>
                    <div class="col-xs-6 nopadding nomargin">
                        <div class="pull-right">
                            <a style="margin-right: 5px;" href="#/userSettings/">
                                <u>
                                    <i class="fa fa-wrench" aria-hidden="true"></i> my account </u>
                            </a>
                            <a routerLink="/login" class="text-danger" style="margin-right: 25px;" href="#/auth">
                                <u>
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> log out</u>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>