<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title font-16">
                <i class="fa fa-cubes m-r-5" aria-hidden="true"></i>Modules configuration</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>

</div>