<div class="row">
    <div *ngFor="let item of uploader.queue" class="col-sm-12 file-uploaded nopadding nomargin">
        <i class="fa fa-file text-primary" aria-hidden="true"></i> {{ item?.file?.name }}
        <i class="fa fa-times pull-right" aria-hidden="true" role="button" (click)="item.remove()"></i>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 file-upload-tools nopadding">
        <div class="disable-content" *ngIf="!active"></div>
        <div class="drop-zone pull-left">
            <div ng2FileDrop [ngClass]="{'nv-file-over': dropZoneOver}" (fileOver)="fileOver($event)" [uploader]="uploader" class="well fix-drop-zone">
                <i class="fa fa-file" aria-hidden="true" *ngIf="!dropZoneOver"></i>
                <i class="fa fa-plus" aria-hidden="true" *ngIf="dropZoneOver"></i>
            </div>
        </div>
        <div class="tools-zone">
            <div class="row">
                <div class="col-sm-12 inherit-position nopadding nomargin">
                    <input type="file" [id]="uploadFromExplorerId" ng2FileSelect [uploader]="uploader" multiple style="display:none;" />
                    <button class="btn btn-xs nomargin" (click)="addFileFromExplorer()">
                        <i class="fa fa-plus space-right" aria-hidden="true"></i>
                        Add file</button>
                    <button class="btn btn-xs btn-file-editor" (click)="createFile()" *ngIf="config.canCreate">
                        <i class="fa fa-pencil space-right" aria-hidden="true"></i>
                        Create File
                    </button>
                </div>
                <div class="col-sm-12 nopadding inherit-position description">
                    {{ config.extensions.join(', ') }}. Maximum upload size: {{config.maximumSize}}{{config.maximumSizeByteType}}
                </div>
            </div>
        </div>
    </div>
</div>