<div class="row" *ngFor="let item of uploader.queue">
    <div class="col-sm-12 file-information nopadding">
        <div class="file-icon pull-left">
            <div class="well fix-file-zone">
                <i class="fa fa-file" aria-hidden="true"></i>
            </div>
        </div>
        <div class="tools-zone">
            <div class="row">

                <div class="col-sm-12 inherit-position nopadding nomargin">
                    {{ item?.file?.name }}
                </div>
                <span class="col-sm-12 nopadding inherit-position description nomargin">
                    size: {{ fomatFileSize(item?.file?.size) }} - type: {{ item?.file?.type }}
                </span>

                <div class="col-sm-12 pull-right nopadding">
                    <button class="btn btn-default btn-xs nomargin">
                        <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                    </button>
                    <button class="btn btn-danger btn-xs nomargin" (click)="item.remove()">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="uploader.queue.length === 0">
    <div class="col-sm-12 file-upload-tools nopadding nomargin">
        <div class="disable-content" *ngIf="!active"></div>
        <div class="drop-zone pull-left">
            <div ng2FileDrop [ngClass]="{'nv-file-over': dropZoneOver}" (fileOver)="fileOver($event)" [uploader]="uploader" class="well fix-drop-zone">
                <i class="fa fa-file" aria-hidden="true" *ngIf="!dropZoneOver"></i>
                <i class="fa fa-plus" aria-hidden="true" *ngIf="dropZoneOver"></i>
            </div>
        </div>
        <div class="tools-zone">
            <div class="row">
                <div class="col-sm-12 inherit-position nopadding nomargin">
                    <input type="file" [id]="uploadFromExplorerId" ng2FileSelect [uploader]="uploader" multiple style="display:none;" />
                    <button class="btn btn-xs nomargin" (click)="addFileFromExplorer()">
                        <i class="fa fa-plus m-r-5" aria-hidden="true"></i>
                        Add file</button>
                    <button class="btn btn-xs btn-file-editor" (click)="createFile()" *ngIf="config.canCreate">
                        <i class="fa fa-pencil m-r-5" aria-hidden="true"></i>
                        Create File
                    </button>
                </div>
                <div class="col-sm-12 nopadding inherit-position description">
                    {{ config.extensions.join(', ') }}. Maximum upload size: {{config.maximumSize}}{{config.maximumSizeByteType}}
                </div>
            </div>
        </div>
    </div>
</div>