<fix-widget>
    <fix-widget-body>
        <div class="module-widget">
            <div class="widget-icon red pull-left">
                <i class="fa fa-tasks"></i>
            </div>
            <div class="pull-right">
                <ul class="list-inline lunchers">
                    <li>
                        OFF
                    </li><li>
                        <a href="#">
                            <i class="fa fa-play green-icon" aria-hidden="true"></i>
                        </a>
                    </li><li>
                        <a href="#">
                            <i class="fa fa-stop red-icon" aria-hidden="true"></i>
                        </a>
                    </li><li>
                        <a href="#">
                            <i class="fa fa-repeat black-icon" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

                <!-- <ul class="list-unstyled status">
                    <li>
                        1
                        <i class="fa fa-exclamation-circle red-icon pull-right" aria-hidden="true"></i>
                    </li>
                    <li>
                        6
                        <i class="fa fa-envelope black-icon pull-right" aria-hidden="true"></i>
                    </li>
                </ul> -->
            </div>
            <div class="title">DBClient</div>
            <div class="comment">
                <span>v5.3.13.4</span>
                <!-- <div class="pull-right more-info">
                    <a href="#">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    </a>
                </div> -->
            </div>
        </div>
    </fix-widget-body>
</fix-widget>