<fix-widget>
    <fix-widget-header icon="fa-info-circle" title="Package infos">
    </fix-widget-header>
    <fix-widget-body classes="no-padding">
        <table class="table hierarchical">
            <tbody>
                <tr class="section-title">
                    <td colspan="2">Global</td>
                </tr>
                <tr class="hiera-1">
                    <td>Name</td>
                    <td>package1</td>
                </tr>
                <tr class="hiera-1">
                    <td>Id</td>
                    <td>addea5f2-b51e-11e7-abc4-cec278b6b50a</td>
                </tr>
                <tr class="hiera-1">
                    <td>OS</td>
                    <td>Linux Centos</td>
                </tr>
                <tr class="hiera-1">
                    <td>Folder</td>
                    <td>/tmp/backend/addea5f2-b51e-11e7-abc4-cec278b6b50a/</td>
                </tr>
                <tr class="section-title">
                    <td colspan="2">Core Engine</td>
                </tr>
                <tr class="hiera-1">
                    <td>Version</td>
                    <td>5.7.0.0</td>
                </tr>
                <tr class="section-title">
                    <td colspan="2">Filter Engine</td>
                </tr>
                <tr class="hiera-1">
                    <td>Version</td>
                    <td>5.7.0.0</td>
                </tr>
            </tbody>
        </table>
    </fix-widget-body>
</fix-widget>