<div class="form-horizontal configuration-container">
    <div class="col-sm-12 form-section-title">
        Core Engine configuration
    </div>

    <div class="form-group">
        <label for="container_name" class="col-sm-2 control-label text-left">Platform</label>
        <div class="col-sm-3 space-top">
            <div class="control-label nomargin nopadding fix-label space-right pull-left">
                <i class="fa fa-linux space-right" aria-hidden="true"></i>Linux</div>
        </div>
    </div>
    <hr>

    <div class="form-group">
        <label for="container_name" class="col-sm-2 control-label text-left">Module package</label>
        <div class="col-sm-10 space-top">

            <div class="row">
                <!-- <fix-add-file-form [config]="config.archiveConfig"></fix-add-file-form> -->
            </div>
        </div>
    </div>
</div>