<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <form [formGroup]="templateForm">
            <fix-widget>
                <fix-widget-header icon="fa fa-code" title="Package configuration file">
                    <div class="pull-right">
                        Templates
                        <fix-bootstrap-select [selectContainer]="templateSelect" (selectOption)="onSelectedTemplateOption($event)"></fix-bootstrap-select>
                    </div>
                </fix-widget-header>
                <fix-widget-body classes="no-padding">
                    <div class="row template-config">
                        <div class="col-sm-12 m-t-10">
                            <div class="template-container">
                                <div class="row">
                                    <div class="form-horizontal" role="form">
                                        <fieldset>
                                            <div class="col-sm-6 with-right-separator">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row" formGroupName="general">
                                                            <legend style="margin-top: 20px;">
                                                                <i class="fa fa-windows m-r-5" aria-hidden="true"></i>General config</legend>

                                                            <!-- Text input-->
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label" for="textinput">Name</label>
                                                                <div class="col-sm-8" [ngClass]="displayFieldCss('general.name')">
                                                                    <input type="text" placeholder="MyPackage" class="form-control input-sm" formControlName="name">
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('general.name')" errorMsg="Please inform package name"></fix-field-error-display>
                                                                </div>
                                                            </div>

                                                            <!-- Text input-->
                                                            <!-- <div class="form-group">
                                                                <label class="col-sm-2 control-label" for="textinput">Platform</label>
                                                                <div class="col-sm-10" [ngClass]="displayFieldCss('general.plateform')">
                                                                    <fix-bootstrap-select [selectContainer]="containerSelect" (selectOption)="onSelectedContainerOption($event)"></fix-bootstrap-select>
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('general.plateform')" errorMsg="Please choose plateform"></fix-field-error-display>
                                                                </div>
                                                            </div> -->

                                                            <!-- Text input-->
                                                            <div class="form-group" formGroupName="generalOptions">
                                                                <label class="col-sm-2 control-label" for="textinput">Options</label>
                                                                <div class="col-sm-10">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" formControlName="commonEnv">common_env</label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="row" formGroupName="coreEngine">
                                                            <legend>
                                                                <i class="fa fa-copyright m-r-5" aria-hidden="true"></i>CoreEngine version</legend>
                                                            <!-- Text input-->
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label" for="textinput">Version</label>
                                                                <div class="col-sm-4" [ngClass]="displayFieldCss('coreEngine.version')">
                                                                    <input type="text" placeholder="5.7.0.0" class="form-control input-sm" formControlName="version">
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('coreEngine.version')" errorMsg="Please inform the version"></fix-field-error-display>
                                                                </div>

                                                                <!-- <label class="col-sm-2 control-label" for="textinput">Push</label>
                                                                <div class="col-sm-4" [ngClass]="displayFieldCss('coreEngine.push')">
                                                                    <input type="text" placeholder="760" class="form-control input-sm" formControlName="push">
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('coreEngine.push')" errorMsg="Please inform the push version"></fix-field-error-display>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="row" formGroupName="filterEngine">
                                                            <legend>
                                                                <i class="fa fa-filter m-r-5" aria-hidden="true"></i>Filter version</legend>
                                                            <!-- Text input-->
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label" for="textinput">Version</label>
                                                                <div class="col-sm-4" [ngClass]="displayFieldCss('filterEngine.version')">
                                                                    <input type="text" placeholder="5.7.2.0" class="form-control input-sm" formControlName="version">
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('filterEngine.version')" errorMsg="Please inform the version"></fix-field-error-display>
                                                                </div>
                                                            </div>

                                                            <!-- Text input-->
                                                            <div class="form-group" formGroupName="filterEngineOptions">
                                                                <label class="col-sm-2 control-label" for="textinput">Options</label>
                                                                <div class="col-sm-10">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" formControlName="fmlFile1">Fml file - 1</label>
                                                                    </div>
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" formControlName="fmlFile2">Fml file - 2</label>
                                                                    </div>
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" formControlName="scoreFile">Score file</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row" formGroupName="continuityBackend">
                                                            <legend style="margin-top: 20px;">
                                                                <i class="fa fa-cubes m-r-5" aria-hidden="true"></i>Continuity Backend</legend>

                                                            <!-- Text input-->
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label" for="textinput">Version</label>
                                                                <div class="col-sm-4" [ngClass]="displayFieldCss('continuityBackend.version')">
                                                                    <input type="text" placeholder="5.9.0.0" class="form-control input-sm" formControlName="version">
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('continuityBackend.version')" errorMsg="Please inform the version"></fix-field-error-display>
                                                                </div>

                                                                <!-- <label class="col-sm-2 control-label" for="textinput">Push</label>
                                                                <div class="col-sm-4" [ngClass]="displayFieldCss('continuityBackend.push')">
                                                                    <input type="text" placeholder="760" class="form-control input-sm" formControlName="push">
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('continuityBackend.push')" errorMsg="Please inform the push version"></fix-field-error-display>
                                                                </div> -->
                                                            </div>

                                                            <!-- Text input-->
                                                            <div class="form-group" formGroupName="modules">
                                                                <label class="col-sm-2 control-label" for="textinput">Modules</label>
                                                                <div class="col-sm-10">
                                                                    <label class="checkbox-inline">
                                                                        <input type="checkbox" formControlName="aquisition" checked="checked">Aquisition
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input type="checkbox" formControlName="requester" checked="checked">Requester
                                                                    </label>
                                                                    <label class="checkbox-inline">
                                                                        <input type="checkbox" formControlName="dbclient" checked="checked">DBClient
                                                                    </label>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="row" formGroupName="database">
                                                            <legend>
                                                                <i class="fa fa-database m-r-5" aria-hidden="true"></i>Database configuration</legend>

                                                            <!-- Text input-->
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label" for="textinput">Type</label>
                                                                <div class="col-sm-10">
                                                                    <label class="radio-inline">
                                                                        <input type="radio" formControlName="dbtype" value="ORACLE">Oracle
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                        <input type="radio" formControlName="dbtype" value="SQLSERVER">SQL-Server
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                        <input type="radio" formControlName="dbtype" value="DB2">DB2
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label" for="textinput">Username</label>
                                                                <div class="col-sm-4" [ngClass]="displayFieldCss('database.username')">
                                                                    <input type="text" placeholder="USER_ONE" class="form-control input-sm" formControlName="username">
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('database.username')" errorMsg="Please inform the username of database"></fix-field-error-display>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label" for="textinput">Password</label>
                                                                <div class="col-sm-4" [ngClass]="displayFieldCss('database.password')">
                                                                    <input type="text" placeholder="******" class="form-control input-sm" formControlName="password">
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('database.password')" errorMsg="Please inform the password of database"></fix-field-error-display>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label" for="textinput">Hostname</label>
                                                                <div class="col-sm-4" [ngClass]="displayFieldCss('database.hostname')">
                                                                    <input type="text" placeholder="127.0.0.1" class="form-control input-sm" formControlName="hostname">
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('database.hostname')" errorMsg="Please inform the hostname of database"></fix-field-error-display>
                                                                </div>

                                                                <label class="col-sm-2 control-label" for="textinput">Service</label>
                                                                <div class="col-sm-4" [ngClass]="displayFieldCss('database.service')">
                                                                    <input type="text" placeholder="XE" class="form-control input-sm" formControlName="service">
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('database.service')" errorMsg="Please inform the service of database"></fix-field-error-display>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label" for="textinput">Port</label>
                                                                <div class="col-sm-4" [ngClass]="displayFieldCss('database.port')">
                                                                    <input type="text" placeholder="1521" class="form-control input-sm" formControlName="port">
                                                                    <fix-field-error-display [displayError]="isFieldNotValid('database.port')" errorMsg="Please inform the connexion  port of database"></fix-field-error-display>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fix-widget-body>
                <fix-widget-footer>
                    <div class="row form-group nomargin">
                        <div class="col-sm-12 nomargin">
                            <button class="btn btn-primary btn-sm pull-right" (click)="onSubmit()">
                                <i class="fa fa-check m-r-5" aria-hidden="true"></i>Validate
                            </button>
                            <button class="btn btn-default btn-sm pull-right m-r-5" (click)="reset()">
                                <i class="fa fa-repeat m-r-5" aria-hidden="true"></i>Reset
                            </button>
                        </div>
                    </div>
                </fix-widget-footer>
            </fix-widget>
        </form>
    </div>
</div>
