<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <form [formGroup]="templateForm" (ngSubmit)="register(templateForm)" novalidate>
            <fix-widget>
                <fix-widget-header icon="fa fa-code" title="Package configuration file">
                    <div class="pull-right">
                        Templates:
                        <select class="selectplateform" data-style="input-sm btn-default select-text-sm" title="Choose template...">
                            <option value="object:266"> v5.9.0.0</option>
                        </select>
                    </div>
                </fix-widget-header>
                <fix-widget-body classes="no-padding">
                    <div class="row template-config">
                        <div class="col-sm-12 m-t-10">
                            <div class="row">
                                <form class="form-horizontal" role="form">
                                    <fieldset>
                                        <div class="col-sm-6 with-right-separator">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <legend style="margin-top: 20px;">
                                                            <i class="fa fa-windows m-r-5" aria-hidden="true"></i>Container</legend>

                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label" for="textinput">Platform</label>
                                                            <div class="col-sm-10 has-error">
                                                                <select class="selectplateform" data-style="input-sm btn-default" title="Choose container...">
                                                                    <option data-icon="fa fa-linux" label="DockerHub" value="object:266"> Linux-Docker01</option>
                                                                </select>
                                                                <span class="help-block">Required.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <legend>
                                                            <i class="fa fa-copyright m-r-5" aria-hidden="true"></i>CoreEngine version</legend>
                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label" for="textinput">Version</label>
                                                            <div class="col-sm-4 has-error">
                                                                <input type="text" placeholder="5.7.0.0" class="form-control input-sm">
                                                                <span class="help-block">Required.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <legend>
                                                            <i class="fa fa-filter m-r-5" aria-hidden="true"></i>Filter version</legend>
                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label" for="textinput">Version</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" placeholder="5.7.2.0" class="form-control input-sm">
                                                            </div>
                                                        </div>

                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label" for="textinput">Options</label>
                                                            <div class="col-sm-10">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="">Fml file - 1</label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="">Fml file - 2</label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" value="">Score file</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <legend style="margin-top: 20px;">
                                                            <i class="fa fa-archive m-r-5" aria-hidden="true"></i>Continuity Backend version</legend>

                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label" for="textinput">Version</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" placeholder="5.9.0.0" class="form-control input-sm">
                                                            </div>

                                                            <label class="col-sm-2 control-label" for="textinput">Push</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" placeholder="760" class="form-control input-sm">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <legend>
                                                            <i class="fa fa-database m-r-5" aria-hidden="true"></i>Database configuration</legend>

                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label" for="textinput">Type</label>
                                                            <div class="col-sm-10">
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="databasetype">Oracle
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="databasetype">SQL-Server
                                                                </label>
                                                                <label class="radio-inline">
                                                                    <input type="radio" name="databasetype">DB2
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label" for="textinput">Username</label>
                                                            <div class="col-sm-10 has-error">
                                                                <input type="text" placeholder="USER_ONE" class="form-control input-sm">
                                                                <span class="help-block">Required.</span>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label" for="textinput">Password</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" placeholder="******" class="form-control input-sm">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label" for="textinput">Hostname</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" placeholder="127.0.0.1" class="form-control input-sm">
                                                            </div>

                                                            <label class="col-sm-2 control-label" for="textinput">Service</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" placeholder="XE" class="form-control input-sm">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label" for="textinput">Port</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" placeholder="1521" class="form-control input-sm">
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </fix-widget-body>
                <fix-widget-footer>
                    <div class="row form-group nomargin">
                        <div class="col-sm-12 nomargin">
                            <button type="submit" class="btn btn-primary btn-sm pull-right" [disabled]="templateForm.invalid || templateForm.pending">
                                <i class="fa fa-check m-r-5" aria-hidden="true"></i>Validate
                            </button>
                        </div>
                    </div>
                </fix-widget-footer>
            </fix-widget>
        </form>
    </div>
</div>