.fix-drop-zone { border: dotted 3px lightgray; }
.nv-file-over  { border: dotted 3px black; }

.modal{
    .well {
        height: 150px;
        padding: 0px;    
        text-align: center;
        vertical-align: middle;
        line-height: 150px;
        font-size: x-large;
        color: gray;  
    }
}
