<div class="modal-dialog">

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title font-16">
                <i class="fa fa-database m-r-5" aria-hidden="true"></i>Database configuration</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form class="form-horizontal" [formGroup]="form">
                    <fieldset>
                        <div class="col-sm-12">
                            <div class="row">
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Type</label>
                                    <div class="col-sm-10">
                                        <label class="radio-inline">
                                            <input type="radio" formControlName="dbtype" value="ORACLE">Oracle
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" formControlName="dbtype" value="SQLSERVER">SQL-Server
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" formControlName="dbtype" value="DB2">DB2
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Username</label>
                                    <div class="col-sm-4" [ngClass]="displayFieldCss('username')">
                                        <input type="text" placeholder="USER_ONE" class="form-control input-sm" formControlName="username">
                                        <fix-field-error-display [displayError]="isFieldNotValid('username')" errorMsg="Please inform the username of database"></fix-field-error-display>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Password</label>
                                    <div class="col-sm-4" [ngClass]="displayFieldCss('password')">
                                        <input type="text" placeholder="******" class="form-control input-sm" formControlName="password">
                                        <fix-field-error-display [displayError]="isFieldNotValid('password')" errorMsg="Please inform the password of database"></fix-field-error-display>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Hostname</label>
                                    <div class="col-sm-4" [ngClass]="displayFieldCss('hostname')">
                                        <input type="text" placeholder="127.0.0.1" class="form-control input-sm" formControlName="hostname">
                                        <fix-field-error-display [displayError]="isFieldNotValid('hostname')" errorMsg="Please inform the hostname of database"></fix-field-error-display>
                                    </div>

                                    <label class="col-sm-2 control-label" for="textinput">Service</label>
                                    <div class="col-sm-4" [ngClass]="displayFieldCss('service')">
                                        <input type="text" placeholder="XE" class="form-control input-sm" formControlName="service">
                                        <fix-field-error-display [displayError]="isFieldNotValid('service')" errorMsg="Please inform the service of database"></fix-field-error-display>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Port</label>
                                    <div class="col-sm-4" [ngClass]="displayFieldCss('port')">
                                        <input type="text" placeholder="1521" class="form-control input-sm" formControlName="port">
                                        <fix-field-error-display [displayError]="isFieldNotValid('port')" errorMsg="Please inform the connexion  port of database"></fix-field-error-display>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>

</div>