.sidebar {
    .select-endpoint {
        width: 80%;
        margin: 0 auto;
    }

    .sidebar-list a.active {
        color: #fff;
        text-indent: 22px;
        border-left: 3px solid #fff;
        background: #2d3e63;
    }
}