.template-config {
  legend {
      font-size: 14px;
  }
  label {
      font-size: 12px;
  }
}

.template-container {
  height: calc(100vh - 14vw);
  overflow-y: auto;
}

.card {
border-radius: 2px;
}
