.editor {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
    height: 500px;    
}

.setup-panel{
    li{
        cursor: pointer;
    }
    li.disabled{
        cursor: no-drop;
    }
    
}

.configuration-container {
    min-height: 500px;
}

.fix-drop-zone { border: dotted 3px lightgray; }
.nv-file-over  { border: dotted 3px black; }

.modal{
    .well {
        height: 150px;
        padding: 0px;    
        text-align: center;
        vertical-align: middle;
        line-height: 150px;
        font-size: x-large;
        color: gray;  
    }
}
