<div class="row wizard">
  <div class="col-xs-12 nomargin nopadding">
    <ul class="nav nav-pills nav-justified thumbnail m-b-0">
      <li *ngFor="let step of (wizard | async)?.getOrdredList()" [ngClass]="{'active': step.isCurrent}" [ngClass]="{'disabled': !step.isCurrent && !step.isValid}">
        <a href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-arrow-right" aria-hidden="true"></i> Step {{ step.order }} :
            <span>{{ step.title }}</span>
          </h4>
        </a>
      </li>
      <li>
        <a href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-arrow-right" aria-hidden="true"></i> Step 1 :
            <span>Container choice</span>
          </h4>
        </a>
      </li>
      <li class="active">
        <a href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-arrow-right" aria-hidden="true"></i> Step 2 :
            <span>Package configurations</span>
          </h4>
        </a>
      </li>
      <li class="disabled">
        <a href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-arrow-right" aria-hidden="true"></i> Step 3 :
            <span>Package details</span>
          </h4>
        </a>
      </li>
      <li class="disabled">
        <a href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-arrow-right" aria-hidden="true"></i> Step 4 :
            <span>Validation</span>
          </h4>
        </a>
      </li>
      <!-- {{ wizard | async }} -->
    </ul>
  </div>
</div>
