<fix-template-config *ngIf="configType === 'TEMPLATE'"></fix-template-config>


<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <fix-widget>
            <fix-widget-header icon="fa fa-code" title="Package configuration">
                <button class="btn btn-default btn-sm" style="float: right" (click)="onChangeConfigType('FORM')" [ngClass]="{'active': configType === 'FORM'}">
                    <i class="fa fa-table" style="margin-right: 0px;" aria-hidden="true"></i>
                </button>
                <button class="btn btn-default btn-sm m-r-5" style="float: right" (click)="onChangeConfigType('YAML')" [ngClass]="{'active': configType === 'YAML'}">
                    <i class="fa fa-file-code-o" style="margin-right: 0px;" aria-hidden="true"></i>
                </button>
            </fix-widget-header>
            <fix-widget-body classes="no-padding">
                <fix-yaml-config *ngIf="configType === 'YAML'"></fix-yaml-config>
                <fix-package-edit *ngIf="configType === 'FORM'"></fix-package-edit>
            </fix-widget-body>
            <fix-widget-footer>
                <div class="row form-group nomargin">
                    <div class="col-sm-12 nomargin">
                        <button class="btn btn-default btn-sm">
                            <i class="fa fa-chevron-left m-r-5" aria-hidden="true"></i>Return to Templates
                        </button>
                        <button class="btn btn-primary btn-sm pull-right">
                            <i class="fa fa-check m-r-5" aria-hidden="true"></i>Validate
                        </button>
                        <button class="btn btn-default btn-sm pull-right m-r-5">
                            <i class="fa fa-repeat m-r-5" aria-hidden="true"></i>Reset
                        </button>
                    </div>
                </div>
            </fix-widget-footer>
        </fix-widget>
    </div>
</div>