server:
  port: 8080
  compression: 
    enabled: true
    mime-types: application/javascript,application/json,text/css,text/html,text/plain

app:
  name: fix-backend

management:
  port: 8091
  security.enabled: false

springfox.documentation.swagger.v2.path: /api-docs

spring:
  profiles:
    active: native
  jpa:
    show-sql: true
    properties.hibernate.format_sql: true
    hibernate.naming.physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    hibernate.ddl-auto: create

  datasource:
    name: fix_backend_db
    url: jdbc:h2:./db/fix_backend_db;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: 
    driver-class-name: org.h2.Driver
    platform: h2
    initialize: true
    continue-on-error: false

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/agents/config
  
  h2.console.enabled: true

  devtools.restart.exclude: static/**,public/**

  output.ansi.enabled: ALWAYS

  messages:
    basename: messages

security:
  user:
    password: Hello00
    username: user

eureka:
  instance:
    prefer-ip-address: true
  client:
    registerWithEureka: false
    fetchRegistry: false
    server:
      waitTimeInMsWhenSyncEmpty: 0

logging:
  file: logs/dev_app.log
  pattern:
    #console: "%d %-5level %logger : %msg%n"
    file: "%d %-5level [%thread] %logger : %msg%n"
  level:
    org.springframework:
      web: WARN
      security: DEBUG
    com.fix: DEBUG

endpoints.shutdown.enabled: true


