.mainbox {
    margin-top: 150px;
    text-align: center;
    .error-code {
        font-size: 160px;
        color: white;
    }
    .error-message {
        font-size: 26px;
        color: white;
        font-weight: bold;
        margin-top: -40px;
    }
    .button-place {
        margin-top: 32px;
    }
}