<div class="form-horizontal configuration-container">
    <div class="col-sm-12 form-section-title">
        Package configuration
    </div>

    <div class="form-group">
        <label for="container_name" class="col-sm-2 control-label text-left">Name</label>
        <div class="col-sm-3">
            <input class="form-control" id="container_name" placeholder="e.g. myPackage" type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="container_name" class="col-sm-2 control-label text-left">Platform</label>
        <div class="col-sm-3">
            <select class="form-control selectpicker input-sm">
                <option data-icon="fa fa-linux" label="DockerHub" value="object:266" selected="selected"> Linux-Docker01</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="container_name" class="col-sm-2 control-label text-left">Common Env</label>
        <div class="col-sm-10">

            <label class="radio-inline" (click)="setCommonEnv(false)">
                <input [checked]="!commonEnv.enable" data-val="true" name="optradio" value="False" type="radio"> No
            </label>
            <label class="radio-inline" (click)="setCommonEnv(true)">
                <input [checked]="!commonEnv.enable" name="optradio" value="True" type="radio"> Yes
            </label>
            <div class="row">
                <div class="col-sm-6 nopadding">
                    <fix-file-wrapper-uploader [config]="commonEnvUploadConfig"></fix-file-wrapper-uploader>
                </div>
            </div>
        </div>
    </div>
</div>