<div class="form-horizontal configuration-container">
    <div class="col-sm-12 form-section-title">
        Core Engine configuration
    </div>

    <div class="form-group">
        <label for="container_name" class="col-sm-2 control-label text-left">Platform</label>
        <div class="col-sm-3 space-top">
            <div class="control-label nomargin nopadding fix-label space-right pull-left">
                <i class="fa fa-linux space-right" aria-hidden="true"></i>Linux</div>
        </div>
    </div>

    <div class="form-group">
        <label for="container_name" class="col-sm-2 control-label text-left">Version</label>
        <div class="col-sm-3">
            <select class="form-control input-sm">
                <option label="DockerHub" selected="selected"> 5.7.0.0</option>
                <option label="DockerHub"> 5.6.4.0</option>
                <option label="DockerHub"> 5.6.4.1</option>
            </select>
        </div>
    </div>

</div>