<div class="row animated fadeIn">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <fix-widget>
      <fix-widget-header icon="fa-info-circle" title="Package infos">
        <button class="btn btn-default btn-sm" style="float: right">
          <i class="fa fa-files-o m-r-5" aria-hidden="true"></i>Duplicate</button>
        <button class="btn btn-default btn-sm m-r-5" style="float: right">
          <i class="fa fa-refresh m-r-5" aria-hidden="true"></i>Recreate</button>
      </fix-widget-header>
      <fix-widget-body classes="no-padding">
        <table class="table hierarchical">
          <tbody>
            <tr class="section-title">
              <td colspan="2">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                Global</td>
            </tr>
            <tr class="hiera-1">
              <td>Name</td>
              <td>package1</td>
            </tr>
            <tr class="hiera-1">
              <td>Id</td>
              <td>addea5f2-b51e-11e7-abc4-cec278b6b50a</td>
            </tr>
            <tr class="hiera-1">
              <td>OS</td>
              <td>Linux Centos</td>
            </tr>
            <tr class="hiera-1">
              <td>Folder</td>
              <td>/tmp/backend/addea5f2-b51e-11e7-abc4-cec278b6b50a/</td>
            </tr>
            <tr class="section-title">
              <td colspan="2">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                Core Engine</td>
            </tr>
            <tr class="hiera-1">
              <td>Version</td>
              <td>5.7.0.0</td>
            </tr>
            <tr class="section-title">
              <td colspan="2">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                Filter Engine</td>
            </tr>
            <tr class="hiera-1">
              <td>Version</td>
              <td>5.7.0.0</td>
            </tr>
          </tbody>
        </table>
      </fix-widget-body>
    </fix-widget>
  </div>
</div>