<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title font-16">
                <i class="fa fa-cog m-r-5" aria-hidden="true"></i>Template configuration</h4>
        </div>
        <div class="modal-body">
            <!-- Text input-->
            <div class="row">
                <form class="form-horizontal" [formGroup]="generalForm">
                    <fieldset>
                        <div class="col-sm-12">

                            <div class="row">

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Name</label>
                                    <div class="col-sm-8" [ngClass]="displayFieldCss('name')">
                                        <input type="text" placeholder="MyPackage" class="form-control input-sm" formControlName="name">
                                        <fix-field-error-display [displayError]="isFieldNotValid('name')" errorMsg="Please inform package name"></fix-field-error-display>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Platform</label>
                                    <div class="col-sm-10" [ngClass]="displayFieldCss('plateform')">
                                        <fix-bootstrap-select [selectContainer]="containerSelect" (selectOption)="onSelectedContainerOption($event)"></fix-bootstrap-select>
                                        <fix-field-error-display [displayError]="isFieldNotValid('plateform')" errorMsg="Please choose plateform"></fix-field-error-display>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group" formGroupName="generalOptions">
                                    <label class="col-sm-2 control-label" for="textinput">Options</label>
                                    <div class="col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" formControlName="commonEnv">common_env</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>

</div>