<fix-alerts-bar></fix-alerts-bar>
<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <fix-widget>
      <fix-widget-body>
        <div class="widget-icon green pull-left">
          <i class="fa fa-users"></i>
        </div>
        <div class="title">80</div>
        <div class="comment">Users</div>
      </fix-widget-body>
    </fix-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <fix-widget>
      <fix-widget-body>
        <div class="widget-icon red pull-left">
          <i class="fa fa-tasks"></i>
        </div>
        <div class="title">16</div>
        <div class="comment">Servers</div>
      </fix-widget-body>
    </fix-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <fix-widget>
      <fix-widget-body>
        <div class="widget-icon orange pull-left">
          <i class="fa fa-sitemap"></i>
        </div>
        <div class="title">225</div>
        <div class="comment">Documents</div>
      </fix-widget-body>
    </fix-widget>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <fix-widget>
      <fix-widget-body>
        <div class="widget-icon blue pull-left">
          <i class="fa fa-support"></i>
        </div>
        <div class="title">62</div>
        <div class="comment">Tickets</div>
      </fix-widget-body>
    </fix-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <fix-widget>
      <fix-widget-header icon="fa-plus" title="Extras">
        <button class="btn btn-sm btn-info" style="float: right">Button</button>
      </fix-widget-header>
      <fix-widget-body>
        <div class="message">
          This is a standard message which will also work the ".no-padding" class, I can also
          <span class="error">be an error message!</span>
        </div>
        <hr/>
        <div class="message">
          <a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use
          <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap JS components!
        </div>
      </fix-widget-body>
    </fix-widget>
  </div>
  <div class="col-lg-6">
    <fix-widget>
      <fix-widget-header icon="fa-cog fa-spin" title="Loading Directive">
        <a href="http://tobiasahlin.com/spinkit/" style="float: right" target="_blank">SpinKit</a>
      </fix-widget-header>
      <fix-widget-body>
        <fix-loading></fix-loading>
      </fix-widget-body>
    </fix-widget>
  </div>
</div>