<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <form [formGroup]="templateForm">
      <fix-widget>
        <fix-widget-header icon="fa fa-code" title="Package configuration file">
          <div class="pull-right">
            Templates
            <fix-bootstrap-select [selectContainer]="templateSelect" (selectOption)="onSelectedTemplateOption($event)"></fix-bootstrap-select>
          </div>
        </fix-widget-header>
        <fix-widget-body classes="no-padding">
          <div class="row container-choice-config">
            <div class="col-sm-12 m-t-10">
              <div class="container-choice-container">
                <div class="row">
                  <div class="form-horizontal" style="margin-bottom: 0px !important;" role="form">
                    <fieldset>
                      <div class="col-sm-5 p-l-0 with-right-separator">
                        <div class="panel-group m-b-0" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default" formGroupName="general">
                            <div class="panel-heading danger" role="tab" id="headingGeneralConfig">
                              <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGeneralConfig" aria-expanded="true" aria-controls="collapseGeneralConfig">
                                  <i class="fa fa-windows m-r-5" aria-hidden="true"></i>General config
                                  <i class="fa fa-times pull-right pointer-disable" aria-hidden="true"></i>
                                </a>
                              </h4>
                            </div>
                            <div id="collapseGeneralConfig" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingGeneralConfig">
                              <div class="panel-body config-card">
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-sm-2 control-label" for="textinput">Name</label>
                                  <div class="col-sm-7" [ngClass]="displayFieldCss('general.name')">
                                    <input type="text" placeholder="MyPackage" class="form-control input-sm" formControlName="name">
                                    <fix-field-error-display [displayError]="isFieldNotValid('general.name')" errorMsg="Please inform package name"></fix-field-error-display>
                                  </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group" formGroupName="generalOptions">
                                  <label class="col-sm-2 control-label" for="textinput">Options</label>
                                  <div class="col-sm-10">
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" formControlName="commonEnv">common_env
                                      </label>
                                      <span style="border-bottom: 1px solid black; padding-left: 150px">&nbsp;</span>
                                      <i class="fa fa-download file-action pointer-cursor m-r-5" aria-hidden="true" tooltip="Download" placement="bottom"></i>
                                      <i class="fa fa-pencil file-action pointer-cursor m-r-5" aria-hidden="true" tooltip="Edit" placement="bottom"></i>
                                    </div>
                                  </div>
                                </div>

                              </div>
                              <div class="panel-footer">
                                <button type="button" class="btn btn-primary btn-sm">
                                  <i class="fa fa-check m-r-5" aria-hidden="true"></i>Validate
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
                                  <i class="fa fa-repeat m-r-5" aria-hidden="true"></i>Reset
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default" formGroupName="container">
                            <div class="panel-heading success" role="tab" id="headingContainer">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseContainer" aria-expanded="false"
                                  aria-controls="collapseContainer">
                                  <i class="fa fa-server m-r-5" aria-hidden="true"></i>Container choice
                                  <i class="fa fa-check pull-right pointer-disable" aria-hidden="true"></i>
                                </a>
                              </h4>
                            </div>
                            <div id="collapseContainer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCoreEngine">
                              <div class="panel-body config-card">
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-sm-2 control-label" for="textinput">Platform</label>
                                  <div class="col-sm-10" [ngClass]="displayFieldCss('container.plateform')">
                                    <fix-bootstrap-select [selectContainer]="containerSelect" (selectOption)="onSelectedContainerOption($event)"></fix-bootstrap-select>
                                    <fix-field-error-display [displayError]="isFieldNotValid('container.plateform')" errorMsg="Please choose plateform"></fix-field-error-display>
                                  </div>
                                </div>
                              </div>
                              <div class="panel-footer">
                                <button type="button" class="btn btn-primary btn-sm">
                                  <i class="fa fa-check m-r-5" aria-hidden="true"></i>Validate
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
                                  <i class="fa fa-repeat m-r-5" aria-hidden="true"></i>Reset
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default" formGroupName="coreEngine">
                            <div class="panel-heading success" role="tab" id="headingCoreEngine">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCoreEngine" aria-expanded="false"
                                  aria-controls="collapseCoreEngine">
                                  <i class="fa fa-copyright m-r-5" aria-hidden="true"></i>CoreEngine version
                                  <i class="fa fa-check pull-right pointer-disable" aria-hidden="true"></i>
                                </a>
                              </h4>
                            </div>
                            <div id="collapseCoreEngine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCoreEngine">
                              <div class="panel-body config-card">
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-sm-2 control-label" for="textinput">Version</label>
                                  <div class="col-sm-4" [ngClass]="displayFieldCss('coreEngine.version')">
                                    <input type="text" placeholder="5.7.0.0" class="form-control input-sm" formControlName="version">
                                    <fix-field-error-display [displayError]="isFieldNotValid('coreEngine.version')" errorMsg="Please inform the version"></fix-field-error-display>
                                  </div>
                                </div>
                              </div>
                              <div class="panel-footer">
                                <button type="button" class="btn btn-primary btn-sm">
                                  <i class="fa fa-check m-r-5" aria-hidden="true"></i>Validate
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
                                  <i class="fa fa-repeat m-r-5" aria-hidden="true"></i>Reset
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default" formGroupName="filterEngine">
                            <div class="panel-heading" role="tab" id="headingFilterEngine">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFilterEngine" aria-expanded="false"
                                  aria-controls="collapseFilterEngine">
                                  <i class="fa fa-filter m-r-5" aria-hidden="true"></i>Filter version
                                  <i class="fa fa-circle-o-notch fa-spin pull-right pointer-disable" aria-hidden="true"></i>
                                </a>
                              </h4>
                            </div>
                            <div id="collapseFilterEngine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFilterEngine">
                              <div class="panel-body config-card">
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-sm-2 control-label" for="textinput">Version</label>
                                  <div class="col-sm-4" [ngClass]="displayFieldCss('filterEngine.version')">
                                    <input type="text" placeholder="5.7.2.0" class="form-control input-sm" formControlName="version">
                                    <fix-field-error-display [displayError]="isFieldNotValid('filterEngine.version')" errorMsg="Please inform the version"></fix-field-error-display>
                                  </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group" formGroupName="filterEngineOptions">
                                  <label class="col-sm-2 control-label" for="textinput">Options</label>
                                  <div class="col-sm-10">
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" formControlName="fmlFile1">Fml file - 1</label>
                                    </div>
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" formControlName="fmlFile2">Fml file - 2</label>
                                    </div>
                                    <div class="checkbox">
                                      <label>
                                        <input type="checkbox" formControlName="scoreFile">Score file</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="panel-footer">
                                <button type="button" class="btn btn-primary btn-sm">
                                  <i class="fa fa-check m-r-5" aria-hidden="true"></i>Validate
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
                                  <i class="fa fa-repeat m-r-5" aria-hidden="true"></i>Reset
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default" formGroupName="continuityBackend">
                            <div class="panel-heading" role="tab" id="headingContinuityBackend">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseContinuityBackend" aria-expanded="false"
                                  aria-controls="collapseContinuityBackend">
                                  <i class="fa fa-cubes m-r-5" aria-hidden="true"></i>Continuity Backend
                                </a>
                              </h4>
                            </div>
                            <div id="collapseContinuityBackend" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingContinuityBackend">
                              <div class="panel-body config-card">
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-sm-2 control-label" for="textinput">Version</label>
                                  <div class="col-sm-4" [ngClass]="displayFieldCss('continuityBackend.version')">
                                    <input type="text" placeholder="5.9.0.0" class="form-control input-sm" formControlName="version">
                                    <fix-field-error-display [displayError]="isFieldNotValid('continuityBackend.version')" errorMsg="Please inform the version"></fix-field-error-display>
                                  </div>

                                </div>

                                <!-- Text input-->
                                <div class="form-group" formGroupName="modules">
                                  <label class="col-sm-2 control-label" for="textinput">Modules</label>
                                  <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                      <input type="checkbox" formControlName="aquisition" checked="checked">Aquisition
                                    </label>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" formControlName="requester" checked="checked">Requester
                                    </label>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" formControlName="dbclient" checked="checked">DBClient
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="panel-footer">
                                <button type="button" class="btn btn-primary btn-sm">
                                  <i class="fa fa-check m-r-5" aria-hidden="true"></i>Validate
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
                                  <i class="fa fa-repeat m-r-5" aria-hidden="true"></i>Reset
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default" formGroupName="database">
                            <div class="panel-heading" role="tab" id="headingDatabase">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDatabase" aria-expanded="false"
                                  aria-controls="collapseDatabase">
                                  <i class="fa fa-database m-r-5" aria-hidden="true"></i>Database configuration
                                </a>
                              </h4>
                            </div>
                            <div id="collapseDatabase" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDatabase">
                              <div class="panel-body config-card">
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-sm-2 control-label" for="textinput">Type</label>
                                  <div class="col-sm-10">
                                    <label class="radio-inline">
                                      <input type="radio" formControlName="dbtype" value="ORACLE">Oracle
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" formControlName="dbtype" value="SQLSERVER">SQL-Server
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" formControlName="dbtype" value="DB2">DB2
                                    </label>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-2 control-label" for="textinput">Username</label>
                                  <div class="col-sm-4" [ngClass]="displayFieldCss('database.username')">
                                    <input type="text" placeholder="USER_ONE" class="form-control input-sm" formControlName="username">
                                    <fix-field-error-display [displayError]="isFieldNotValid('database.username')" errorMsg="Please inform the username of database"></fix-field-error-display>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-2 control-label" for="textinput">Password</label>
                                  <div class="col-sm-4" [ngClass]="displayFieldCss('database.password')">
                                    <input type="text" placeholder="******" class="form-control input-sm" formControlName="password">
                                    <fix-field-error-display [displayError]="isFieldNotValid('database.password')" errorMsg="Please inform the password of database"></fix-field-error-display>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-2 control-label" for="textinput">Hostname</label>
                                  <div class="col-sm-4" [ngClass]="displayFieldCss('database.hostname')">
                                    <input type="text" placeholder="127.0.0.1" class="form-control input-sm" formControlName="hostname">
                                    <fix-field-error-display [displayError]="isFieldNotValid('database.hostname')" errorMsg="Please inform the hostname of database"></fix-field-error-display>
                                  </div>

                                  <label class="col-sm-2 control-label" for="textinput">Service</label>
                                  <div class="col-sm-4" [ngClass]="displayFieldCss('database.service')">
                                    <input type="text" placeholder="XE" class="form-control input-sm" formControlName="service">
                                    <fix-field-error-display [displayError]="isFieldNotValid('database.service')" errorMsg="Please inform the service of database"></fix-field-error-display>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-2 control-label" for="textinput">Port</label>
                                  <div class="col-sm-4" [ngClass]="displayFieldCss('database.port')">
                                    <input type="text" placeholder="1521" class="form-control input-sm" formControlName="port">
                                    <fix-field-error-display [displayError]="isFieldNotValid('database.port')" errorMsg="Please inform the connexion  port of database"></fix-field-error-display>
                                  </div>
                                </div>
                              </div>
                              <div class="panel-footer">
                                <button type="button" class="btn btn-primary btn-sm">
                                  <i class="fa fa-check m-r-5" aria-hidden="true"></i>Validate
                                </button>
                                <button type="button" class="btn btn-default btn-sm">
                                  <i class="fa fa-repeat m-r-5" aria-hidden="true"></i>Reset
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Right part -->
                      <div class="col-sm-7 p-l-0 p-r-0 m-b-0 m-t-0">
                        <div class="row template-config">
                          <div class="col-sm-12 p-l-0 p-r-0" style="margin-bottom: 0px !important;">
                            <div class="template-container">
                              <div class="row">
                                <table class="table hierarchical">
                                  <tbody>
                                    <!-- General configuration  -->
                                    <tr class="section-title">
                                      <td colspan="2">
                                        <i class="fa fa-windows m-r-5" aria-hidden="true"></i>
                                        General config
                                      </td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>Name</td>
                                      <td>{{ currentTemplatePackage.packageConfig.name }}</td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>Options</td>
                                      <td>
                                        <div class="row">
                                          <div class="col-sm-6 nopadding">
                                            <i class="fa fa-check-square-o m-r-5" aria-hidden="true"></i>Common_env</div>
                                          <div class="col-sm-6 nopadding">
                                            <i class="fa fa-square-o m-r-5" aria-hidden="true"></i>option 2</div>
                                        </div>
                                      </td>
                                    </tr>

                                    <!-- Core Engine  -->
                                    <tr class="section-title">
                                      <td colspan="2">
                                        <i class="fa fa-copyright m-r-5" aria-hidden="true"></i>
                                        Core Engine
                                      </td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>Version</td>
                                      <td>{{ currentTemplatePackage.packageConfig.coreEngineConfig.version }}</td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>File URL</td>
                                      <td>{{ currentTemplatePackage.packageConfig.coreEngineConfig.archiveUrl }}</td>
                                    </tr>


                                    <!-- Filter Engine  -->
                                    <tr class="section-title">
                                      <td colspan="2">
                                        <i class="fa fa-filter m-r-5" aria-hidden="true"></i>
                                        Filter Engine
                                      </td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>Version</td>
                                      <td>{{ currentTemplatePackage.packageConfig.filterEngineConfig.version }}</td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>File URL</td>
                                      <td>{{ currentTemplatePackage.packageConfig.filterEngineConfig.archiveUrl }}</td>
                                    </tr>
                                    <!-- Modules  -->
                                    <tr class="section-title">
                                      <td colspan="2">
                                        <i class="fa fa-cubes m-r-5" aria-hidden="true"></i>
                                        Modules
                                      </td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>Active Modules</td>
                                      <td>
                                        <div class="row">
                                          <div *ngFor="let module of currentTemplatePackage.packageConfig.modulesConfig" class="col-sm-12 nopadding">
                                            <div class="row">
                                              <div class="col-sm-12 nopadding" style="margin-bottom: 0px;">
                                                <i class="fa fa-cube m-r-5" aria-hidden="true"></i>{{ module.name }}
                                              </div>
                                              <div class="col-sm-12 nopadding" style="font-size: 11px !important;">
                                                &#x0251C;
                                                <u style="font-size: 11px !important;">Version:</u> {{ module.version }}
                                                <br/> &#x02514;
                                                <u style="font-size: 11px !important;">File URL:</u>
                                                <a href="{{ module.archiveUrl }}" style="font-size: 11px !important;color: black;">{{ module.archiveUrl }}</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                    <!-- Database  -->
                                    <tr class="section-title">
                                      <td colspan="2">
                                        <i class="fa fa-database m-r-5" aria-hidden="true"></i>
                                        Database
                                      </td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>Type</td>
                                      <td>{{ currentTemplatePackage.packageConfig.databaseConfig.type }}</td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>Username</td>
                                      <td>{{ currentTemplatePackage.packageConfig.databaseConfig.username }}</td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>Password</td>
                                      <td>{{ currentTemplatePackage.packageConfig.databaseConfig.password }}</td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>Hostname</td>
                                      <td>{{ currentTemplatePackage.packageConfig.databaseConfig.hostname }}</td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>Port</td>
                                      <td>{{ currentTemplatePackage.packageConfig.databaseConfig.port }}</td>
                                    </tr>
                                    <tr class="hiera-1">
                                      <td>Service</td>
                                      <td>{{ currentTemplatePackage.packageConfig.databaseConfig.service }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fix-widget-body>
        <fix-widget-footer>
          <div class="row form-group nomargin">
            <div class="col-sm-12 nomargin">
              <button class="btn btn-primary btn-sm pull-right" (click)="onSubmit()">
                <i class="fa fa-check m-r-5" aria-hidden="true"></i>Validate
              </button>
              <button class="btn btn-default btn-sm pull-right m-r-5" (click)="reset()">
                <i class="fa fa-repeat m-r-5" aria-hidden="true"></i>Reset
              </button>
            </div>
          </div>
        </fix-widget-footer>
      </fix-widget>
    </form>
  </div>
</div>
