<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" *ngIf="moduleConfigList.length === 0" class="active">
        <a aria-controls="none" role="tab" data-toggle="tab">(none)</a>
    </li>
    <li role="presentation" *ngFor="let item of moduleConfigList" [ngClass]="{'active': item.name === activeModule, 'pointer-cursor': item.name !== activeModule}">
        <a (click)="setModuleActive(item.name)" role="tab" data-toggle="tab">{{item.name}}
            <i (click)="deleteModule(item.name)" class="fa fa-times space-left pointer-cursor" aria-hidden="true" [ngClass]="{'red-icon': item.name === activeModule}"></i>
        </a>


    </li>
    <li class="pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add Module
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
                <li *ngFor="let item of moduleTypeList" [ngClass]="{'disabled': isExist(item), 'pointer-cursor': !isExist(item) }">
                    <a (click)="addModule(item)">{{item}}</a>
                </li>
            </ul>
        </div>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" *ngIf="moduleConfigList.length === 0" class="tab-pane active" id="none">
        <div class="col-lg-12 col-md-12 col-xs-12 nopadding">
            <fix-widget>
                <fix-widget-body>
                    <div class="empty-container">
                        <div class="band">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </div>
                    </div>
                </fix-widget-body>
            </fix-widget>
        </div>
    </div>
    <ng-container *ngFor="let item of moduleConfigList">
        <div role="tabpanel" class="tab-pane active" [id]="item.name" *ngIf="activeModule === item.name">
            <div class="col-lg-12 col-md-12 col-xs-12 nopadding">
                <fix-widget>
                    <fix-widget-body>
                        <fix-module-config [moduleConfig]="item"></fix-module-config>
                    </fix-widget-body>
                    <fix-widget-footer>
                        <div class="row form-group nomargin">
                            <div class="col-sm-12 nomargin">
                                <button class="btn btn-sm btn-primary pull-left disabled">
                                    <i class="fa fa-caret-left space-right" aria-hidden="true"></i>Previous</button>
                                <button class="btn btn-primary btn-sm pull-right">Next
                                    <i class="fa fa-caret-right space-left" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </fix-widget-footer>
                </fix-widget>
            </div>
        </div>
    </ng-container>
</div>