<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Aquisition</a>
    </li>
    <li role="presentation">
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Requester</a>
    </li>
    <li role="presentation">
        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">DBClient</a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add Module
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Aquisition</a>
            </li>
            <li>
                <a href="#">DBClient</a>
            </li>
            <li>
                <a href="#">Requester</a>
            </li>
        </ul>

    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">"Dynamic" tab is added through JS and removed after 10s</div>
    <div role="tabpanel" class="tab-pane" id="profile">Tempore quis in deleniti nihil, pariatur mollitia sequi tempora! Amet, praesentium, labore! Perferendis ipsa debitis
        nostrum, dolor aperiam officiis porro eligendi maxime.</div>
    <div role="tabpanel" class="tab-pane" id="messages">Lrem error dolore, provident at iure! Labore ratione, veritatis iste. Nesciunt veniam vitae dicta facilis aspernatur
        sapiente, quae.</div>
    <div role="tabpanel" class="tab-pane" id="settings">Lillum facilis explicabo aspernatur, minima vitae, maxime voluptas dolore, asperiores rerum saepe dolorum expedita aut!
        Veniam temporibus, laboru</div>
</div>